<%- include('partials/head')%>


    <%- include('partials/navbar') %>

    <h1>The Home Page <%= 4+5+10 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, deserunt eveniet! Culpa ullam repellendus dignissimos facere nostrum libero alias, ipsum explicabo animi possimus totam velit doloremque quia expedita unde. Veniam!</p>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facilis sint asperiores eos dignissimos fugiat reprehenderit laudantium qui ratione dolores minima explicabo quibusdam sapiente esse est suscipit, iure minus veniam.</p>

    <%- include('partials/footer') %>